body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

main {
  padding: 16pt;
  border-radius: 16pt;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8pt;
  font-family: sans-serif;
  background-color: #164551;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 13pt;
}

.contact-info {
  font-size: 8pt;
}

.motto {
  font-weight: bold;
}
.landscape img {
    max-width: 80px;
    border-radius: 10px;
    margin-left: 12rem;
   height: auto;
}

main.card landscape card-2 {		 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; 
}

h1 {
  font-family: "Sixtyfour Convergence", sans-serif;
}
.right{
  margin-top: -2em;
  width: 45%;
}
